<h1>Home Page Partent Components </h1>

<!-- <app-user [user]='userName' city="bayad"></app-user> -->
<!-- 
<select #selectedUser (change)="onUserChange(selectedUser.value)" name="" id="">

  <option value="Aman patel">Aman Patel</option>
  <option value="Dev patel">Dev Patel</option>
  <option value="Deversh patel">Deversh Patel</option>
  <option value="Dhruvil patel">Dhruvil Patel</option>



</select> -->


<!-- //Looping Thre Child Componet Reuse -->
 <!-- parent to child -->

<!-- 
@for (user of users; track user) {
<div>
  {{user}}

  <app-user [user]="user"></app-user>
</div>
} -->


<!-- //child to Parent -->

<app-user (getUsers)='handleUsers($event)'></app-user>

@for (item of users; track item) {
  <h1>{{item}}</h1>
}

